<div style="text-align:center; padding-top:60px">
  <img src="/assets/Logo.png" />
  <div>
    <%= t('.copyright', :year => Time.now.year,
          :site_name => Refinery::Core.site_name) %>
  </div>
</div>
