<div style="text-align:center; padding-top:60px">
  <img src="/assets/Logo.png" />
  <div>
    Call Us at (214) 728-9262<br />
    <a href="mailto:lopezlawnlandscape@gmail.com">lopezlawnlandscape@gmail.com</a>
  </div>
  <div>
    <%= t('.copyright', :year => Time.now.year,
          :site_name => Refinery::Core.site_name) %>
  </div>
</div>
